* {
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
	font-family: "Poppins", sans-serif;
}

html {
	background-image: url("https://micah-rose.github.io/rosegoldwebdesign/pizza-2/img/pizza-bkgrnd.jpg");
	background-repeat: no-repeat;
	background-position: right top;
}

body {
	padding: 15px;
	margin: 40px;
}

nav ul li a,
nav ul li {
	display: inline-block;
}

nav ul li a {
	padding: 0px 20px;
	text-decoration: none;
	font-size: 1.3em;
	margin-bottom: -40px;
	margin-top: -50px;
	font-weight: bold;
	border-bottom: 0.5px solid #d0d4d5;
}

nav ul {
	text-align: center;
}

li {
	border: whitesmoke;
	border-radius: 50%;
	margin: 5px;
}

nav ul li a:hover {
	background-color: black;
	color: white;
	border-radius: 5%;
}

.main-nav {
	margin: 10px;

	a {
		color: black;
		font-size: 1.3em;
		padding: 0.1em 1em;
	}
}

h1 {
	margin: 30px 25px 10px;
	padding: 8px;
	font-size: 28px;
	text-align: left;
	color: #d62828;
}

h2 {
	color: #2b2118;
	//margin-top: 10px;
	font-size: 1.4em;
	//margin-bottom: 5px;
}

h3 {
	margin-top: 10px;
	margin-bottom: 5px;
	color: #2b2118;
}

p {
	margin: 10px 35px;
	text-align: justify;
	font-size: 1.2em;
}

.main-content {
	padding: 5px;
	text-align: justify;
}

/****** Home Page Styling ******/
.home-title h1 {
	font-size: 60px;
	text-align: center;
	color: #ff7f00;
	margin: 30px auto;
	font-family: Impact, sans-serif;
	letter-spacing: 5px;
	text-shadow: 2px 2px 4px #2b2118;
}

.pizza-pics {
	height: 150px;
	width: 250px;
	display: flex;
	align-items: center;
}

.pizza-pics img {
	height: 100%;
	width: 100%;
	margin-left: 95px;
	padding-left: 10px;
}

/****** Contact Page Styling ******/
.contact {
	margin-top: 25px;

	div {
		display: block;
		align-items: left;
	}
}

.contact-form {
	float: left;
	padding: 5px 10px;
	margin-right: 200px;
	margin-top: 50px;

	h3 {
		font-size: 1.5em;
		margin: 30px 0 20px 0;
	}
}

.contact-form form {
	textarea {
		height: 60px;
		width: 100%;
		padding: 1em;
		margin-bottom: 1em;
		border-radius: 0.3em;
	}
}

.pizza-love {
	height: 270px;
	width: 320px;
	display: flex;
	margin-top: -40px;
}

/****** About Page Styling *******/
.pizza-icon {
	margin: -70px 30px 0 0;
	width: 180px;
	float: right;

	img {
		height: 75%;
		width: 75%;
	}
}

.about {
	clear: right;
	border: 2px solid whitesmoke;
	padding-top: 20px;
}

.about-p {
	width: 900px;
	margin-top: -90px;
	margin-bottom: 15px;
	display: flex;
}

.pizza-about {
	display: flex;
	justify-content: center;

	img {
		width: 500px;
		height: 200px;
	}
}

/****** Order Page Styling ******/
.pizza-i {
	display: flex;
	justify-content: center;
	margin-top: -10px;
	margin-bottom: 10px;

	img {
		height: 250px;
		width: 375px;
	}
}

.main-content form input {
	margin: 5px;
	font-size: 15px;
}

label {
	font-size: 1.2em;
	margin: 0.5em 0.8em;
}

input {
	width: 100%;
	padding: 1em;
	margin-bottom: 1em;
	border-radius: 0.3em;
}

select {
	padding: 0.5em;
	border-radius: 0.3em;
	border: 1px solid gray;
	margin: 5px;
}

.ingredient-block {
	margin: 0.5em 1em;
	padding: 1em;
}

/*Option inputs*/
.option-input:checked::after {
	//animation: click-wave 0.25s;
	background: #40e0d0;
	content: "";
	display: inline-block;
	position: relative;
	z-index: 100;
}

@keyframes click-wave {
	0% {
		height: 25px;
		width: 25px;
		opacity: 0.35;
		position: relative;
	}

	100% {
		height: 200px;
		width: 200px;
		margin-left: -80px;
		margin-top: -80px;
		opacity: 0;
	}
}

.option-input {
	appearance: none;
	top: 10px;
	right: 0;
	left: 0;
	bottom: 0;
	height: 25px;
	width: 25px;
	transition: all 0.15s ease-out 0s;
	background: #48cae4;
	border: 0.2px solid #a7a7a0;
	border-radius: 50%;
	color: white;
	cursor: pointer;
	display: inline-block;
	position: relative;
	z-index: 1000;
}

.option-input:checked::before {
	height: 100%;
	width: 100%;
	position: relative;
	content: "✓";
	display: inline-block;
	font-size: 20px;
	line-height: 20px;
}

.contact-section {
	.container-form {
		height: 100%;
		display: flex;
		justify-content: left;
	}

	h2 {
		font-size: 1.2em;
		margin: 20px 5px 10px;
	}
}

.buttons {
	display: block;
}

/* send button */
.send-message-cta {
	overflow: hidden;
	background-color: #ff3cac;
	background-image: linear-gradient(
		225deg,
		#27d86c 0%,
		#26caf8 50%,
		#c625d0 100%
	);
	color: #fff;
	box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	font-weight: bold;
	border: none;
	font-size: 1.3em;
	border-radius: 5em;
	padding: 0.8em 2em;
	width: unset;
	position: relative;
	margin: 32px;
	padding: 0.8em 2em;
}

.send-message-cta::after {
	content: "";
	width: 400px;
	height: 400px;
	position: absolute;
	top: -50px;
	left: -100px;
	z-index: -1;
	transition: transform 0.5s ease;
}

.send-message-cta:hover {
	transform: translate(0, -6px);
	box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, 0.5),
		-10px 10px 25px 0 rgba(39, 200, 255, 0.5);
}

/* reset button */
.reset-cta {
	overflow: hidden;
	background-color: #ff3cac;
	background-image: linear-gradient(
		225deg,
		#27d86c 0%,
		#26caf8 50%,
		#c625d0 100%
	);
	color: #fff;
	box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	font-weight: bold;
	border: none;
	font-size: 1.3em;
	border-radius: 5em;
	padding: 0.8em 2em;
	width: unset;
	position: relative;
	margin: 32px;
	padding: 0.8em 2em;
}

.reset-cta::after {
	content: "";
	width: 400px;
	height: 400px;
	position: absolute;
	top: -50px;
	left: -100px;
	z-index: -1;
	transition: transform 0.5s ease;
}

.reset-cta:hover {
	transform: translate(0, -6px);
	box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, 0.5),
		-10px 10px 25px 0 rgba(39, 200, 255, 0.5);
}
